.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.testAnimation {
  width: 350px;
  overflow: hidden;
  height: 415px;
  animation: animateCloud 0.65s steps(2) infinite;
  /*background-image: url('./robot.png');*/
  background-repeat: repeat-x;
  background-position: 0 0;
}

@keyframes animateCloud  {
  from {
    background-position: 0 0;
  }
  to
  {
    background-position: 700px 0;
  }
}